* {
    font-family: DM Sans;
    box-sizing: border-box;
    font-weight: 700;
}

body {
    margin: 0%;
    background: #F4F7FE !important;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0% !important;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    background: linear-gradient(149.96deg, #301F81 12.51%, #0F0441 89.53%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20%;
}

.sidebar ul {
    list-style: none;


}

.sidebar_header::after {
    content: "";
    display: flex;
    border: 1px solid #ffffff2b
}

.sidebar ul a:hover {
    color: #ffffff;
    background-color: #FFFFFF21;
    border-radius: 8px;

}

.sidebar_header h3 {
    padding-right: 80px !important;
}

.sidebar ul a {
    text-decoration: none;
    color: #FFFFFFB2;
    display: flex;
    gap: 5px;
    display: flex;
    align-items: center;


}

.sidebar ul h5 {
    font-family: DM Sans;
    font-size: 10px;
    font-weight: 500;
    line-height: 30px;
}

.sidebar h3 {
    color: #ffffff;
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.navlinks i {
    font-size: 10px;
    padding-bottom: 0px;

}

.footer {
    position: absolute;
    bottom: 15px;
    left: 15px
}

.footer h6 {
    color: #ffffff;
    font-family: DM Sans;
    font-size: 8px;
    font-weight: 500;
    line-height: 15px;
}

.dashboard {
    width: 100%;
}

.heading h5 {
    font-size: 9px;
    font-weight: 500;
    line-height: 22px;
    color: #707EAE;
}

.heading h2 {
    color: #2B3674;
    font-size: 20px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: -0.02em;
}

.search_box {
    display: flex;
    gap: 5px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 5px;
    margin-right: 15px;
    align-items: center;
    box-shadow: 14px 17px 40px 4px #7090B014;

}

.search_box i {
    color: #2B3674;
    font-size: 10px;
}

.search_icon::placeholder {
    color: #8F9BBA;
    font-size: 4px;
    font-weight: 400;
}

.search_space {
    display: flex;
    gap: 2px;
    background-color: #F4F7FE;
    border-radius: 30px;
    padding:5px;
}


.search_box input {
    background: transparent;
    border: none;
    outline: none;
    margin: 0%;
    font-size: 5px;
}

.search_box input::placeholder {
    font-size: 12px;
}

.profile  {
    border-radius: 20px;
    width: 40%git;
}

.search_notific i {
    color: #A3AED0;

}

.header {
    gap: 10px;
}

.header select {
    width: 70px;
    font-size: 14px;
}

.header select:focus {
    box-shadow: none;
}

.employee_list {
    background-color: #FFFFFF;
    border-radius: 20px;
}

.employee_list .rounded-pill {
    background-color: #4318FF !important;
}

.header h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #2B3674;
}

.header h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    color: #333333;

}